.ChatNav {
	height: 10%;
	min-height: 5rem;
	width: 100vw;
	margin: 0;
	background-color: #1b2147;
	display: flex;
	justify-content: space-between;
}

.ChatNav-logo {
	font-size: 2rem;
	font-weight: bold;
	color: #eee;
	padding: 1rem;
	margin: auto 0rem;
}

.ChatNav-button {
	height: 2rem;
	width: 2rem;
	background-color: transparent;
	border-bottom: none;
	border-right: none;
	border-top: 6px solid #eee;
	border-left: 6px solid #eee;
	transform: rotate(-45deg) skew(3deg, 3deg);
	margin: auto 1rem;
	cursor: pointer;
	transition: all 0.4s ease-in;
}

.ChatNav-button:hover {
	transform: rotate(-45deg) scale(1.1) skew(7deg, 7deg);
	border-color: #4255d4;
}

@media (min-width: 1024px) {
	.ChatNav {
		display: none;
	}
}
