.Input {
	width: 90%;
	min-height: 3rem;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 1.5rem;
	color: #fff;
	margin: 1rem 0;
	padding: 0 2rem;
	border-radius: 2rem;
	border: none;
	outline: none;
}
