.ChatSidebar-header {
	width: 100%;
	line-height: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid white;
}

.ChatSidebar-main {
	height: auto;
	display: flex;
	flex-direction: column;
	overflow: none;
	overflow-y: auto;
}
