.ChatMain {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.ChatMain-sidebar {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.Sidebar-header {
	width: 100%;
	line-height: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid white;
}

.Sidebar-main {
	height: auto;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

.ChatMain-chat {
	width: 79%;
	height: 100%;
}

.ChatMain-right {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.ChatBox {
	width: 100%;
	flex: 1;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.05);
}

.MessageForm {
	width: 100%;
	height: 5rem;
}
