.ChatMain {
	width: 98%;
	height: 95%;
	display: flex;
	justify-content: space-around;
}

.ChatMain-sidebar-container {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.ChatMain-chat {
	width: 78%;
	height: 100%;
}

.ChatMain-right {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1025px) {
	.ChatMain {
		height: 90%;
		margin-bottom: 1.5rem;
	}
	.ChatMain-chat {
		width: 100%;
		margin-top: 1rem;
	}
	.ChatMain-sidebar-container {
		display: none;
	}
}
