.FormButton {
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 1rem 3rem;
	border-radius: 1rem;
	margin: 1rem 0;
	border: 1px solid transparent;
	background-color: #4255d4;
	transition: all 0.2s ease-in;
}

.FormButton:hover {
	box-sizing: border-box;
	border: 1px solid white;
}
